<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ChatRoom</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<div id="chatbox">
    <div id="friendslist" style="display: none;">
        <div id="topmenu">
            <span class="friends"></span>
            <span class="chats"></span>
            <span class="history"></span>
        </div>
    </div>

    <div id="chatview" class="p1">
        <div id="profile">
            <div>
                <h2 id="room-name"></h2>
            </div>
            <div id="close" onclick="location.href=`/chat/room`">
                <div class="cy s1 s2 s3"></div>
                <div class="cx s1 s2 s3"></div>
            </div>
        </div>
        <div id="chat-messages" class="animate">
        </div>

        <div id="sendmessage">
            <input type="text" class="send" value="Send message..."/>
            <button class="send" id="send"></button>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
        integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const roomId = /*[[${roomId}]]*/;
    /*]]>*/

    // websocket & stomp initialize
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var room = {};
    var sender = '';
    var messages = [];
    var messageHtml = '';

    // 홈페이지 로딩 후 실행
    connect();
    sender = localStorage.getItem('wschat.sender');
    findRoom();

    // roomId로 채팅방 정보 조회
    function findRoom() {
        axios.get('/app/chat/room/' + roomId).then(response => {
            room = response.data;
            refresh();
        });
    }

    // 받은 메시지 처리
    function recvMessage(recv) {
        // 배열의 맨 앞에 요소 추가
        messages.unshift({
            "type": recv.type,
            "sender": ((recv.type == 'ENTER') ? '[알림]' : recv.sender),
            "message": recv.message
        });
        refresh();
    }

    // 메시지 전송
    function sendMessage(message) {
        // 보낼 때는 controller로 전송
        ws.send("/pub/message", {}, JSON.stringify({
            type: 'TALK',
            roomId: roomId,
            sender: sender,
            message: message
        }));
    }

    function connect() {
        // pub/sub event
        ws.connect({}, function (frame) {
            // 받을 때는 구독한 토픽으로부터 읽어온다.
            ws.subscribe("/topic/room/" + roomId, function (message) {
                var recv = JSON.parse(message.body);
                recvMessage(recv);
            });

            // enter 메시지 전송 / 보낼 때는 controller로 전송
            ws.send("/pub/message", {}, JSON.stringify({
                type: 'ENTER',
                roomId: roomId,
                sender: sender
            }));
        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chat");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }

    function refresh() {
        // room-name
        if (room) {
            document.querySelector('#room-name').innerHTML = room.roomName;
        }

        // messages
        if (messages && messages.length !== 0) {
            var msg = messages[0];
            if (msg.type == 'ENTER' || msg.type == 'ALERT') {
                messageHtml += `<label>${msg.message}</label>`;
            } else if (msg.sender == sender) {
                messageHtml += `<div class="message right"> \
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg"/> \
                        <div class="bubble"> \
                            ${msg.message} \
                            <div class="corner"></div> \
                            <span>3 min</span> \
                        </div> \
                    </div>`;
            } else {
                messageHtml += `<div class="message"> \
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg"/> \
                        <div class="bubble"> \
                            ${msg.message} \
                            <div class="corner"></div> \
                            <span>3 min</span> \
                        </div> \
                    </div>`;
                // ${msg.sender}

            }
            document.querySelector('#chat-messages').innerHTML = messageHtml;
        }
    }

    // eventListener 생성 -> 메시지 전송
    let sendInput = document.querySelector('input.send');
    let sendButton = document.querySelector('button.send');
    sendInput.addEventListener('keyup', function (e) {
        if (e.keyCode === 13) {
            var message = e.target.value;
            sendMessage(message);
            e.target.value = "Send message...";
        }
    });
    sendButton.addEventListener('click', function () {
        var message = sendInput.value;
        sendMessage(message);
        sendInput.value = "Send message...";
    });

    // sendmessage 커서 입력시 동작
    $("#sendmessage input").focus(function(){
        if($(this).val() == "Send message..."){
            $(this).val("");
        }
    });
    $("#sendmessage input").focusout(function(){
        if($(this).val() == ""){
            $(this).val("Send message...");

        }
    });
</script>
</body>
</html>