<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

<form action = "/app/user/new" accept-charset="utf-8" method="post">
    <p>
        <strong>아이디</strong>
        <input type="text" name="name" value="아이디 입력">
    </p>
    <p>
        <strong>비밀번호</strong>
        <input type="password" name="password" value="비밀번호 입력">
    </p>
    <p>
        <strong>이름</strong>
        <input type="password" name="name" value="이름 입력">
    </p>
    <p>
        <strong>닉네임</strong>
        <input type="password" name="nickName" value="닉네임 입력">
    </p>
    <p>
        <strong>프로필 이미지</strong>
        <input type="password" name="profileImgUrl" value="프로필 사진 url 입력">
    </p>
    <p>
        <input type="submit" value="제출">
    </p>
</form>
</body>
</html>